.card-view {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--card-border-radius);
  border: solid 1px black;
  background: white;
  box-sizing: border-box;
  padding: 4px;
  transition-property: box-shadow transform;
  position: relative;
}

.card-view-glowing {
  animation: 1s infinite card-view-glowing;
}

@keyframes card-view-glowing {
  0% {
    box-shadow: 0 0 0 1px #007bff21;
  }

  50% {
    box-shadow: 0 0 0 6px #007bff55;
  }

  100% {
    box-shadow: 0 0 0 1px #007bff55;
  }
}

.card-view-mana-orb {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  background: white;
  border: solid 1px black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 20%);
}

.card-view-hex {
  background: black;
  color: white;
}

.card-view-hex .card-view-mana-orb {
  background: red;
  color: black;
}
