.card-view {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--card-border-radius);
  box-sizing: border-box;
  padding: 4px;
  transition-property: box-shadow transform;
  position: relative;
  text-align: center;
  font-size: 10pt;
}

.card-view-enemy {
  color: white;
}

.card-view-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-view-description {
  white-space: pre-wrap;
  margin-bottom: 8px;
  font-size: 9pt;
  line-height: 10pt;
}

.card-view-name {
  margin: 8px 0;
  font-weight: bold;
}

.card-view-orb {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30%);
  color: white;
  font-weight: bold;
}
