.combat-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spell-view {
  display: flex;
  margin: 32px;
}

.spell-view-slot {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--card-border-radius);
  padding: 4px;
  border: dashed 2px #ccc;
  margin-right: 10px;
}

.spell-view-slot-active {
  border-color: blue;
  background: cyan;
}

.hand-view {
  display: flex;
  overflow-x: scroll;
  padding: 32px;
  max-width: 100vw;
}

.hand-view-slot {
  margin-right: -30px;
  transition: transform;
}

.hand-view-slot:hover {
  z-index: 20;
  transform: translateY(-10px) scale(1.1);
}
