.spell-builder {
  display: flex;
}

.spell-builder-slot {
  margin: 10px;
}

.encounter {
}

.hand {
  display: flex;
  flex-wrap: wrap;
}

.hand-slot {
  margin-right: -30px;
}

.hand-slot .card-view {
  transition: 300ms transform;
}

.hand-slot:hover {
  z-index: 20;
}

.hand-slot:hover .card-view {
  transform: translateY(-25px);
}

.spell-builder-slot-empty {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--card-border-radius);
  border: dashed 1px grey;
  box-sizing: border-box;
  transition: box-shadow;
}

.spell-builder-slot-glowing {
  animation: 1s infinite card-slot-glowing;
}

@keyframes card-slot-glowing {
  0% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }

  50% {
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
  }

  100% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
}
