.spell-view {
  display: flex;
}

.spell-view-slot {
  width: 144px;
  height: 196px;
  margin-right: 10px;
}

.spell-view-slot > div {
  padding: 4px;
  box-sizing: border-box;
}

.spell-view-slot .card-view {
  transition: 300ms transform;
}

.spell-view-slot-active .card-view {
  transform: translateY(-30px);
}
